{% assign max_scroll = 600 	// After this amount of scroll pixels, stop animaating	%}
<div class="hero">
	<div class="hero-bg" id="hero-bg1"  data-0="background-position-y: 0px" data-{{ max_scroll }}="background-position-y: -{{ max_scroll }}px"></div>
	<div class="hero-bg" id="hero-bg2"  data-0="background-position-y: 0px" data-{{ max_scroll }}="background-position-y: -{{ max_scroll | times: 0.6 }}px"></div>
	<div class="hero-bg" id="hero-bg3"  data-0="background-position-y: 0px" data-{{ max_scroll }}="background-position-y: -{{ max_scroll | times: 0.3 }}px"></div>
	<video id="hero-video" src="/resources/wouter_sequence2.webm" autoplay class="wouter" loop xposter="posterimage.jpg"></video>
	<div class="icon" id="icon1" data-0="background-position-y: 280px" data-{{ max_scroll }}="background-position-y: 0px"></div>
</div>
<script>

</script>