$color-text: #fff;
$color-background: #200010;
// $color-background: #440022; this is slightly lighter pink..
$color-special: #1c74bc;
$color-link-hover: #1c74bc;
$color-link: #fff;
$color-special: #1b36ff;
