$color-text: #fff;
$color-section-text: #51b5fe;
$color-section-heading: #fff;
$color-section-border: rgba($color-section-text, .5);
$color-background: #200010;
$color-special: #1c74bc;
$color-link-hover: #1c74bc;
$color-link: #fff;
$color-special: #1b36ff;
$color-form-bg: #2e2e2e;
$color-form-border: #a0a0a0;