---
layout: default
---
<link rel="stylesheet" type="text/css" href="/css/project.css"/>
<link rel="stylesheet" type="text/css" href="/css/snow.css"/>
<link rel="stylesheet" type="text/css" href="/lib/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<script src="/lib/js/slick.min.js"></script>

<main class="project">
  <section class="content">
    <a href='../../' id="home"><i class="fa fa-home" aria-hidden="true"></i> Back to home </a>
  </section>

  <header>
    <h1>{{ page.title | split: ' | ' | first }} </h1>
    <h2 class='sticky'>{{ page.title | split: ' | ' | last }}</h2>
  </header>


  {{ content }}

  <ul id="images" class="content-block">
    {% for item in page.images %}
    <li style="background-image: url({{item}})">
    </li>
    {% endfor %}
  </ul>
  <script>
    $(document).ready(function(){
    if($('#images li').length > 1) {
      $('#images').slick({
        slide: 'li',
        prevArrow: '<div class="nav-arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></div>',
        nextArrow: '<div class="nav-arrow"  style="right: 0"><i class="fa fa-angle-right" aria-hidden="true"></i></div>'
      });
    }
    });
  </script>

  <div class="content footer">
   <a href='../../' id="home"><i class="fa fa-home" aria-hidden="true"></i> Back to home </a>
  </div>
</main>
