{% assign text = page.text %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>

        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/verydarkpink.css">
        <link rel="stylesheet" type="text/css" href="/css/language.css">
        <link rel="stylesheet" type="text/css" href="/css/hero.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="css/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="css/images/favicon-16x16.png" sizes="16x16" />

        <script src="/lib/jquery-3.2.1.min.js"></script>
        <script src="/lib/skrollr.min.js"></script>

        <script src="/src/language.js"></script>
        <script src="/src/hero.js"></script>
    </head>
    <body>
        <ul class="lang-selector">
            <li lang="en" title="{{ text.en.select_lang }}">en</li>
            <li lang="nl" title="{{ text.nl.select_lang }}">nl</li>
        </ul>
        <header>
            <h1>karmaṭha</h1>
            <div class="multi-lang-block definition">
                <ol lang="en">
                    {% for item in text.en.definitions %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ol>
                <ol lang="nl">
                    {% for item in text.nl.definitions %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>
                
            <div class="multi-lang-block content-block portfolio">
                <p lang="en">
                    {{ text.en.portfolio | markdownify | remove: '<p>' | remove: '</p>'}}
                </p>
                <p lang="nl">
                    {{ text.nl.portfolio | markdownify | remove: '<p>' | remove: '</p>'}}
                </p>
            </div>
        </header>
        {% include hero.html text="" %}
        <section class="multi-lang-block content-block about">
            <section lang="en">
                <h2>About</h2>
                {{ text.en.about | markdownify }}
            </section>
            <section lang="nl">
                <h2>Omtrent</h2>
                {{ text.nl.about | markdownify }}
            </section>
        </section>

        <section class="content-block portfolio">
            <h2>Portfolio</h2>
            <div class="flex-grid">
                <div class="col">
                    
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
        </section>

        <section class="content-block contact">
            <h2>Contact</h2>
            <div class="flex-grid">
                <div class="col">
                    <input type="text"/>
                    <textarea></textarea>
                </div>
                <div class="col">
                    <ul class="links">
                        <li class="email"><i class="fa fa-envelope-o"></i><a href="mailto:w.vandenheuvel@gmail.com">Email</a></li>
                        <li class="phone" ><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:0031638934012">+31 6 38934012</a></li>
                        <li class="skype"><i class="fa fa-skype " aria-hidden="true"></i><a href="skype:w.vandenheuvel_4">Skype</a></li>
                        <li class="linkedin"><i class="fa fa-linkedin-square " aria-hidden="true"></i><a href="https://www.linkedin.com/in/wouter-van-den-heuvel/">LinkedIn</a></li>
                        <li class="github"><i class="fa fa-github " aria-hidden="true"></i><a href="https://github.com/spassvogel">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </section>


        <nav>
        </nav>
        <div class="container content-block">
        
        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Addidisti ad extremum etiam indoctum fuisse. Ne in odium veniam, si amicum destitero tueri. Hanc quoque iucunditatem, si vis, transfer in animum; Quid affers, cur Thorius, cur Caius Postumius, cur omnium horum magister, Orata, non iucundissime vixerit? Respondeat totidem verbis. Cur igitur easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non intellegatur?
        
        Duo Reges: constructio interrete. Conferam avum tuum Drusum cum C. Quod non faceret, si in voluptate summum bonum poneret. Satisne vobis videor pro meo iure in vestris auribus commentatus? Maximas vero virtutes iacere omnis necesse est voluptate dominante. Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere. Quo modo autem optimum, si bonum praeterea nullum est? Nam memini etiam quae nolo, oblivisci non possum quae volo. Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.
        
        Venit enim mihi Platonis in mentem, quem accepimus primum hic disputare solitum; Expressa vero in iis aetatibus, quae iam confirmatae sunt. At modo dixeras nihil in istis rebus esse, quod interesset. Causa autem fuit huc veniendi ut quosdam hinc libros promerem.
        
        Dolere malum est: in crucem qui agitur, beatus esse non potest. Hosne igitur laudas et hanc eorum, inquam, sententiam sequi nos censes oportere? In qua quid est boni praeter summam voluptatem, et eam sempiternam? Nos paucis ad haec additis finem faciamus aliquando; Mihi quidem Antiochum, quem audis, satis belle videris attendere. Quis istud, quaeso, nesciebat?
        
        An potest, inquit ille, quicquam esse suavius quam nihil dolere? Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Nec enim, omnes avaritias si aeque avaritias esse dixerimus, sequetur ut etiam aequas esse dicamus. Qui ita affectus, beatum esse numquam probabis; Hoc ne statuam quidem dicturam pater aiebat, si loqui posset. Mihi, inquam, qui te id ipsum rogavi?
        
            Ut bacillum aliud est inflexum et incurvatum de industria, aliud ita natum, sic ferarum natura non est illa quidem depravata mala disciplina, sed natura sua.  -->
        

        
        </div>
        <footer class="content-block">

            <section class="multi-lang-block trademark">
                <p lang="en">
                    {{ text.en.trademark }}
                        
                </p>
                <p lang="nl">
                    {{ text.nl.trademark }}
                </p>
            </section>
        </footer>
    </body>
</html>